body {
	background-color: #f0f0f2;
	margin: 0;
	padding: 0;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

}
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  top: 0;
  background-color: #fdfdff;
  text-align: center;
}
.block {
	width: 600px;
	margin: 2em auto;
	padding: 2em;
	background-color: #fdfdff;
	border-radius: 0.5em;
	box-shadow: 2px 3px 7px 2px rgba(0,0,0,0.02);
}
.header {
	text-align: center;
	margin: auto;
	display: block;
}
.media {
	margin: 1em auto;
	padding: 1em;
	background-color: #efefef;
	border-radius: 0.5em;
}
.underline {
	text-decoration: underline;
}
	a:link, a:visited {
	color: #38488f;
	text-decoration: none;
}
